body {
    background-color: #202020;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #161616, #2c2c2c);
}

.home {
    height: 100%;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.descricao{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #29006b, #00eb1f);
    height: 550px;
}

.home .seta{
    margin-top: 100px;
    height: 30px;
}

.secao_dois{
    background-image: linear-gradient(120deg, #161616, #2c2c2c);
    height: 1920px;
}

.secao_dois .generos{
    gap: 40px;
}

.home .seta{
    margin-top: 100px;
    height: 30px;
}

/* seções de generos e players */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 60px;
}


.generos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* rodapé */
.rodape {
    position: absolute;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    bottom: 0;
    background-color: #121212;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 90px;
}

.iconradio {
    width: 200px;
}

.player{
    width: 100%;
    height: 1920px;
}